.dev-icons-languages {
  padding-left: 0;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.software-skill-inline-languages {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  font-family: "Google Sans Regular";
}

@media (max-width: 768px) {
  .dev-icons-languages {
    gap: 10px;
  }

  .software-skill-inline-languages {
    margin-bottom: 0px;
  }
}
